body {
  --moz-transform: scale(0.9, 0.9); /* Moz-browsers */
  zoom: 0.9; /* Other non-webkit browsers */
  zoom: 90%; /* Webkit browsers */
}

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}


.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}


.carousel img {
  width: 65%;
  display: block;
  margin:auto;
}
.carousel a {
  margin: 0 auto;
}

.card-img {
  aspect-ratio: 1/1;
}

@media (max-width: 900px) {
  .carousel {
    width:auto;
    height:auto;
  }
}

footer{
  color: white
}

.footer-logo{
  transform: translateX(-1.25rem);
}

.footer-section-list{
  list-style-type: none;
  padding-left: 0;
}

.footer-section-list a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.571);
}


.socials {
  display: flex;
}

.socials li {
  margin-top: 1rem;
  margin-right: 1.5rem;
  font-size: 2rem;
}

@media (max-width: 575px){
  .footer-container {
    padding-left: 40px; 
  }
  .payment-provider-asset-container{
    display: block;
  }
  .payment-provider-asset-container img {
    transform: translateX(-1.25rem);
  }
}

@media (min-width:768px ) and (max-width: 992px) {
  .payment-provider-asset-container img {
    transform: translateX(32rem) translateY(-7.5rem);

  }
}
@media (min-width: 1400px) {
  .payment-provider-asset-container img {
    height: 7rem;
    transform: translateX(-4rem) translateY(1rem);

  }
}

