body {
  -moz-transform: scale(0.9, 0.9); /* Moz-browsers */
  zoom: 0.9; /* Other non-webkit browsers */
  zoom: 90%; /* Webkit browsers */
}

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}


.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}


.carousel img {
  width: 65%;
  display: block;
  margin:auto;
}
.carousel a {
  margin: 0 auto;
}

/* @media (max-width: 900px) {
  .carousel {
    width:auto;
    height:auto;
  }
} */